* {
    font-family: "Urbanist", sans-serif;
}

body {
    color: $colorDark;
    overflow-x: hidden;
    overflow-y: visible;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 40px 0;
}



.container {
    max-width: 1375px;
    // width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.reveal-on-scroll {
    opacity: 0;
    transform: translateY(24px);
    transition: opacity 0.75s ease, transform 0.75s ease;
    will-change: opacity, transform;
}

.reveal-on-scroll.revealed {
    opacity: 1;
    transform: translateY(0);
}

.reveal-on-scroll.revealed {
    opacity: 1;
    transform: translateY(0);
}

